sqlalchemy>=2.0.0
flask>=2.0.0
python-dotenv>=1.0.0
typing-extensions>=4.0.0
flask-socketio>=5.0.0
flask-cors>=4.0.0
eventlet>=0.30.2
gevent>=22.10.2
flask-restx>=1.1.0
marshmallow>=3.19.0
marshmallow-sqlalchemy>=0.29.0
flask_jwt_extended>=4.0.0
pytz>=2024.1
types-pytz>=2024.1
pytest>=7.0.0
pandas>=2.0.0
yfinance>=0.2.0