<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day Trader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="/day-trader-v1/app/static/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Day Trader</h1>
        <hr/>
      </header>
      <footer>
        <hr />
        <p>&copy; {{ now.year }} Alexander J. Slivka</p>
      </footer>
    </div>
  </body>
</html>
